<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870502019419-dep3nacavaajbi3ohqpbe4ts4ue8nfpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870502019419-dep3nacavaajbi3ohqpbe4ts4ue8nfpk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>870502019419-nh528s5ev9qc38gddc9bfg89chpbs7qs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCf0_DMRKzfuaxaOvYNVUyIIEo7YJrPVNs</string>
	<key>GCM_SENDER_ID</key>
	<string>870502019419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tracker.iot</string>
	<key>PROJECT_ID</key>
	<string>tracker-f22c6</string>
	<key>STORAGE_BUCKET</key>
	<string>tracker-f22c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870502019419:ios:8f439fa239ed782d8e6a7e</string>
</dict>
</plist>